<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./ejercicio-a.component.css" />
    <title>Curso HTML - Ejercicio A</title>
  </head>
  <body>
    <div class="page">
      <div class="container-50-50">
        <!-- HAZ TU PARTE AQUI -->
      </div>
      <!-- FIN DE TU PARTE -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- PARTE DERECHA A PARTIR DE AQUI -->
      <div class="container-50-50">
        <h1>Ejercicio A</h1>
        <h2>Un ejercicio de HTML básico</h2>
        <i>Con un subtítulo bien puesto</i>
        <hr />
        <p>
          Un párrafo con muchas palabras para que ocupe varias líneas y veamos
          cómo se comporta el navegador a la hora de hacer saltos de línea. ¡Se
          hace solo!
        </p>
        <p>Ahora una línea <strong>¡con fuerza!</strong></p>
        <pre>
Esto es un párrafo...
        o
            o
                o
            o
        o
...aunque no lo parezca
    </pre
        >
        <u>Y eso es todo amigos.</u>
      </div>
    </div>
  </body>
</html>
