<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./ejercicio-d.component.css" />
    <title>Curso HTML - Ejercicio D</title>
  </head>
  <body>
    <div class="page">
      <div class="container-50-50">
        <h1>Ejercicio D</h1>
        <!-- HAZ TU PARTE AQUI -->
      </div>
      <!-- FIN DE TU PARTE -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- PARTE DERECHA A PARTIR DE AQUI -->
      <div class="container-50-50">
        <h1>Ejercicio D</h1>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Género</th>
          </tr>
          <tr>
            <td>Thomas</td>
            <td>24</td>
            <td>Hombre</td>
          </tr>
          <tr>
            <td>Abel</td>
            <td>X</td>
            <td>Hombre</td>
          </tr>
          <tr>
            <td>Gabriel</td>
            <td>X</td>
            <td>Hombre</td>
          </tr>
          <tr>
            <td>Raúl</td>
            <td>X</td>
            <td>Hombre</td>
          </tr>
          <tr>
            <td>Fernando</td>
            <td>X</td>
            <td>Hombre</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
