<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./ejercicio-f.component.css" />
    <title>Curso HTML - Ejercicio F</title>
  </head>
  <body>
    <div class="page">
      <div class="container-50-50">
        <h1>Ejercicio F</h1>
        <!-- HAZ TU PARTE AQUI -->
      </div>
      <!-- FIN DE TU PARTE -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- PARTE DERECHA A PARTIR DE AQUI -->
      <div class="container-50-50">
        <h1>Ejercicio F</h1>
        <img
          src="../../assets/ThomasCafaroDesarrolloWeb.png"
          alt="Imagen ejercicio F"
        />
        <i>Un eslogan aquí.</i>
        <h2>Aquí un subtítulo</h2>
        <p>
          Un poco de contenido para comentar todo lo que hay que comentar sobre
          nuestra página siempre viene bien; mantiene al usuario entretenido.
        </p>
        <hr />
        <h2>Valores</h2>
        <ul>
          <li>Un valor</li>
          <li>Dos valores</li>
          <li><strong>Tres valores</strong></li>
          <li>Cuatro valores</li>
        </ul>
        <hr />
        <h2>Tablas de información</h2>
        <h3>Tabla 1</h3>
        <table>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
          </tr>
          <tr>
            <td>Datos</td>
            <td>importantes</td>
            <td>bla bla</td>
          </tr>
          <tr>
            <td>Más datos</td>
            <td>muy importantes</td>
            <td>bla bla bla</td>
          </tr>
        </table>
        <h3>Tabla 2</h3>
        <table>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
          </tr>
          <tr>
            <td>Datos</td>
            <td>importantes</td>
            <td>bla bla</td>
          </tr>
          <tr>
            <td>Más datos</td>
            <td>muy importantes</td>
            <td>bla bla bla</td>
          </tr>
        </table>
        <button>Cancelar</button>
        <button>Aceptar</button>
      </div>
    </div>
  </body>
</html>
