<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./ejercicio-c.component.css" />
    <title>Curso HTML - Ejercicio C</title>
  </head>
  <body>
    <div class="page">
      <div class="container-50-50">
        <h1>Ejercicio C</h1>
        <!-- HAZ TU PARTE AQUI -->
      </div>
      <!-- FIN DE TU PARTE -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- PARTE DERECHA A PARTIR DE AQUI -->
      <div class="container-50-50">
        <h1>Ejercicio C</h1>
        <ul>
          <li>
            Abel <a href="https://www.wikipedia.org" target="_blank">ver más</a>
          </li>
          <li>
            Raúl <a href="https://www.wikipedia.org" target="_blank">ver más</a>
          </li>
          <li>
            Gabriel
            <a href="https://www.wikipedia.org" target="_blank">ver más</a>
          </li>
          <li>
            Fernando
            <a href="https://www.wikipedia.org" target="_blank">ver más</a>
          </li>
          <li>
            Thomas
            <a href="https://www.wikipedia.org" target="_blank">ver más</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
