<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./ejercicio-e.component.css" />
    <title>Curso HTML - Ejercicio E</title>
  </head>
  <body>
    <div class="page">
      <div class="container-50-50">
        <h1>Ejercicio E</h1>
        <!-- HAZ TU PARTE AQUI -->
      </div>
      <!-- FIN DE TU PARTE -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- *************** -->
      <!-- PARTE DERECHA A PARTIR DE AQUI -->
      <div class="container-50-50">
        <h1>Ejercicio E</h1>
        <form>
          <label>Inserta tu nombre: </label>
          <br />
          <input type="text" />
          <br />
          <label>Selecciona tu género</label>
          <br />
          <input type="radio" id="hombre" name="gender" value="hombre" />
          <label for="male">Hombre</label><br />
          <input type="radio" id="mujer" name="gender" value="mujer" />
          <label for="female">Mujer</label><br />
          <input type="radio" id="otro" name="gender" value="otro" />
          <label for="other">Otro</label>
          <br />
          <label>Selecciona tus frutas favoritas</label>
          <br />
          <input type="checkbox" id="fruta1" name="fruta1" value="Manzana" />
          <label>Manzana</label><br />
          <input type="checkbox" id="fruta2" name="fruta2" value="Plátano" />
          <label>Plátano</label><br />
          <input type="checkbox" id="fruta3" name="fruta3" value="Pera" />
          <label>Pera</label><br />
          <input type="checkbox" id="fruta4" name="fruta4" value="Melocotón" />
          <label>Melocotón</label><br />
          <input type="checkbox" id="fruta5" name="fruta5" value="Sandía" />
          <label>Sandía</label><br />
          <button>Enviar</button>
        </form>
      </div>
    </div>
  </body>
</html>
